<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Daniel Sýkora</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="/static/img/favicon.png">
    </head>
    <body>
        
        <a href="http://qwality.fun" class="header text-box">
            <h1>Daniel Sýkora</h1>
        </a>

        <div class="content">
            <div class="sidebar-left">
                <div class="text-box">
                    <h3>Hledám:</h3>
                    <p>backend, frontend, fullstack developer</p>
                </div>
                <div class="text-box">
                    <h3>Kontakty:</h3>
                    <p class="contacts">
                        <small>email: </small><small class="space"><a href="mailto:email@example.com"> daniel_sykora@icloud.com</a></small>
                        <small>tel.: </small><small class="space"><a href="tel:603328223"> 603 328 223</a></small>
                    </p>
                </div>
                <div class="text-box">
                    <h3>Technologie:</h3>
                    <p class="technologies">
                        <b>python <img src="/static/img/python.png"> </b>
                        <b>javascript <img src="/static/img/javascript.png"></b>
                        <b>HTML <img src="/static/img/html.png"></b>
                        <b><i>CSS </i><img src="/static/img/css.png"></b>
                        <b>FastAPI <img src="/static/img/fastapi.svg" width="16" height="16"></b>
                        <b>React <img src="/static/img/react.png"></b>
                    </p>
                </div>
                <div class="text-box">
                    <h3>Vzdělání:</h3>
                    <p><b>- Střední průmyslová - </b><small>obor technické lyceum</small><br><b>- VSB-TU Ostrava - </b><small>nedokončené</small></p>
                </div>
                <div class="text-box">
                    <h3>Bývalé práce:</h3>
                    <p class="jobs">
                        <b>- Rohlik</b><small> > kurýr </small><small>> nyní</small>
                        <b>- GLS</b><small> > kurýr </small><small>> 4 roky</small>
                        <b>- Tint</b><small> > montér </small><small>> 1 rok</small>
                    </p>
                    
                </div>
                <div class="text-box last">
                    <h3>Soft skills:</h3>
                    <p><b>- odolný vůči stresu: </b><small>jako kurýr jsem pracoval pod tlakem a mnohdy řešil více věcí najednou</small></p>
                    <p><b>- úhel pohledu: </b><small>často dokážu vidět věci z různých pohledů a na základě toho poskytovat zpětnou vazbu</small></p>
                    <p><b>- důslednost: </b><small>při řešení problémů mě zajímá hlavně jak problém vznikl ne jenom jak ho vyřešit</small></p>
                </div>
            </div>

            <div class="main-content">
                <div class="s1 text-box">
                    <h3>Souhrn:</h3>
                    <p>
                        Před několika lety jsem opustil vysokou školu a vydal se na jinou kariérní cestu. Asi pět let jsem pracoval jako kurýr, ale i když mě řízení baví, nakonec jsem zjistil, že to není to, co chci dělat celý život. Po dlouhém přemýšlení jsem se rozhodl, že se chci opět věnovat programování. Začal jsem si obnovovat své znalosti a chtěl bych získat v tomto oboru více zkušeností. Chtěl bych se vydat do reálného světa a zjistit, jak vypadá práce programátora v praxi.
                    </p>
                </div>
                <div class="s2 text-box projects">
                    <h3>Projekty:</h3>
                    <p>
                        <a href="https://github.com/qwality/tetris" target="_blank">Tetris:</a>
                        <small>
                            Abych předešel problémům, jako je pomalá hra nebo špatná odezva, použil jsem knihovnu Pygame, která je optimalizovaná pro hry v Pythonu.
                        </small>
                        <br><br>
                        <a href="">Hexagons:</a>
                        <small>
                            Základ pro hexagonální mapu, objektově orientovaný, pomocí pygame.
                        </small>
                        <br><br>
                        <a href="https://leetcode.com/user5069Du/" target="_blank">cvičení na leetcode</a>
                        <small>
                            Zde si procvičuju své schopnosti řešením algoritmických úloh.
                        </small>
                        <br><br>
                        <a href="https://github.com/qwality/CV_for_server" target="_blank">This.server</a>
                        <small>
                            Tato stránka je součástí projektu, běží na vlastním hostingu a má vlastní backend.
                        </small>
                    </p>
                </div>
                <div class="s3 text-box last">
                    <h3>Jazyky:</h3>
                    <p><b>Angličtina:</b> <small>intermediate</small></p>
                </div>
            </div>
        </div>

        <div class="footer"> 
            <p>&copy; 2023 tento web jsem zřídil za účelem nalezení své první IT práce</p>
            <a class="social-icon" href="https://github.com/qwality" target="_blank"><img src="/static/img/github.png"></a>
            <a class="social-icon" href="https://www.linkedin.com/in/daniel-sýkora-3132a4294" target="_blank"><img src="/static/img/linkedin.png"></a>
        </div>
    </body>
</html>
