<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="/static/img/favicon.png">
    </head>
    <body>
        
        <div class="header text-box">
            <h1>Daniel Sykora</h1>
        </div>

        <div class="content">
            <div class="sidebar-left">
                <div class="text-box">
                    <h3>Hledám:</h3>
                    <p>backend, frontend, fullstack developer</p>
                </div>
                <div class="text-box">
                    <h3>Kontakty:</h3>
                    <p><small>email: </small><a href="mailto:email@example.com">daniel_sykora@icloud.com</a></p>
                    <p><small style="white-space: pre">tel.:     </small><a href="tel:603328223">603 328 223</a></p>
                </div>
                <div class="text-box">
                    <h3>Technologie:</h3>
                    <p>
                        <b>python </b><img src="/static/img/python.png"> 
                        <b>javascript </b><img src="/static/img/javascript.png"> 
                        <b>HTML </b><img src="/static/img/html.png"> 
                        <b><i>CSS </i></b><img src="/static/img/css.png"> 
                        <b>FastAPI </b><img src="/static/img/fastapi.svg" width="16" height="16"> 
                        <b>React </b><img src="/static/img/react.png">
                    </p>
                </div>
                <div class="text-box">
                    <h3>Vzdělání:</h3>
                    <p><b>- Střední průmyslová - </b><small>obor technické lyceum</small><br><b>- VSB-TU Ostrava - </b><small>nedokončené</small></p>
                </div>
                <div class="text-box">
                    <h3>Bývalé práce:</h3>
                    <p><b>- Rohlik</b><small> > kurýr > nyní</small><br><b>- GLS</b><small> > kurýr > 4 roky</small><br><b>- Tint</b><small> > montér > 1 rok</small></p>
                </div>
                <div class="text-box last">
                    <h3>Soft skills:</h3>
                    <p><b>- odolný vůči stresu: </b><small>jako kurýr jsem pracoval pod tlakem a mnohdy řešil více věcí najednou</small></p>
                    <p><b>- úhel pohledu: </b><small>často dokážu vidět věci z různých pohledů a na základě toho poskytovat zpětnou vazbu</small></p>
                    <p><b>- důslednost: </b><small>při řešení problémů mě zajímá hlavně jak problém vznikl ne jenom jak ho vyřešit</small></p>
                </div>
            </div>

            <div class="main-content">
                <div class="s1 text-box">
                    <h3>Souhrn:</h3>
                    <p>
                        Už je to pár let zpátky co jsem vzdal vysokou školu. Vydal jsem svou kariéru úplně jiným směrem, zhruba 5 let jsem pracoval jako kurýr, ikdyž mě řízení baví tak mi došlo že to není něco co bych chtěl dělat celý život. Po dlouhé době mi došlo že programování je to co mi celou tu dobu chybělo. Začal jsem oprašovat své znalosti a chtěl bych získat v tomto oboru více zkušeností, vydat se s nimi do reálného světa a zjistit jak práce programátora vypadá v praxi.
                    </p>
                </div>
                <div class="s2 text-box projects">
                    <h3>Projekty:</h3>
                    <p>
                        <a href="https://github.com/qwality/tetris">tetris:</a>
                        <small>
                            když jsem se vrátil k programování tak tetris byl nejlepší zahřívací projekt, používám zde pygame
                        </small>
                        <br><br>
                        <a href="">hexagons:</a>
                        <small>
                            základ pro hexagonální mapu, objektově orientovaný, pomocí pygame
                        </small>
                        <br><br>
                        <a href="https://leetcode.com/user5069Du/">cvičení na leetcode</a>
                        <small>
                            zde si procvičuju své schopnosti řešením algoritmických úloh
                        </small>
                        <br><br>
                        <a href="https://github.com/qwality/CV_for_server">this.server</a>
                        <small>
                            tato stránka je součástí projektu, běží na vlastním hostingu a má vlastní backend
                        </small>
                    </p>
                </div>
                <div class="s3 text-box last">
                    <h3>Jazyky:</h3>
                    <p><b>Angličtina:</b> <small>intermediate</small></p>
                </div>
            </div>
        </div>

        <div class="footer"> 
            <p>&copy; 2023 tento web jsem zřídil za účelem nalezení své první IT práce</p>
            <a href="https://github.com/qwality"><img src="/static/img/github.png"></a>
            <a href="https://www.linkedin.com/in/daniel-sýkora-3132a4294"><img src="/static/img/linkedin.png"></a>
        </div>
    </body>
</html>
