    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title></title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
            <link href="/static/css/main.css" rel="stylesheet">
        </head>
        <body>
            
            <div class="header text-box">
                <h1>Daniel Sykora</h1>
            </div>

            <div class="content">
                <div class="sidebar-left">
                    <div class="text-box">
                        <h3>2. Hledam:</h3>
                        <p>backend, frontend, fullstack developer</p>
                    </div>
                    <div class="text-box">
                        <h3>3. Kontakty:</h3>
                        <p><small>email: </small><a href="mailto:email@example.com">daniel_sykora@icloud.com</a></p>
                        <p><small style="white-space: pre">tel.:     </small><a href="tel:603328223">603 328 223</a></p>
                    </div>
                    <div class="text-box">
                        <h3>5. Technologie:</h3>
                        <p>
                            <b>python </b><img src="/static/img/python.png"> 
                            <b>javascript </b><img src="/static/img/javascript.png"> 
                            <b>HTML </b><img src="/static/img/html.png"> 
                            <b><i>CSS </i></b><img src="/static/img/css.png"> 
                            <b>FastAPI </b><img src="/static/img/fastapi.svg" width="16" height="16"> 
                            <b>React </b><img src="/static/img/react.png">
                        </p>
                    </div>
                    <div class="text-box">
                        <h3>7. Vzdelani:</h3>
                        <p><b>- Stredni prumyslova - </b><small>obor technicke lyceum</small><br><b>- VSB-TU Ostrava - </b><small>nedokoncene</small></p>
                    </div>
                    <div class="text-box">
                        <h3>8. Byvale prace:</h3>
                        <p><b>- Rohlik</b><small> > kuryr > nyni</small><br><b>- GLS</b><small> > kuryr > 4 roky</small><br><b>- Tint</b><small> > monter > 1 rok</small></p>
                    </div>
                    <div class="text-box last">
                        <h3>9. Soft skills:</h3>
                        <p><b>- odolny vuci stresu: </b><small>jako kurýr jsem pracoval pod tlakem a mnohdy řešil více věcí najednou</small></p>
                        <p><b>- uhel pohledu: </b><small>casto dokazu videt veci z ruznyh pohledu a na zaklade toho poskytovat zpetnou vazbu</small></p>
                        <p><b>- duslednost: </b><small>pri reseni problemu me zajima hlavne jak problem vznikl ne jenom jak ho vyresit</small></p>
                    </div>
                </div>

                <div class="main-content">
                    <div class="s1 text-box">
                        <h3>4. Souhrn:</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab eaque culpa labore blanditiis, illo ipsam quaerat accusamus fuga iste necessitatibus error vel sed cupiditate dolore veniam voluptas voluptatem. Nisi, accusantium!</p>
                    </div>
                    <div class="s2 text-box">
                        <h3>6. Projekty:</h3>
                        <p>
                            <a href="https://github.com/qwality/tetris">tetris:</a><br>
                            <a href="">hexagons:</a><br>
                            <a href="https://leetcode.com/user5069Du/">cviceni na leetcode</a><br>
                        </p>
                    </div>
                    <div class="s3 text-box last">
                        <h3>10. Jazyky:</h3>
                        <p><b>Anglictina:</b> <small>intermediate</small></p>
                    </div>
                </div>
            </div>

            <div class="footer"> 
                <p>&copy; 2023 tento web jsem zridil za ucelem nalezeni sve prvni IT prace</p>
                <a href="https://github.com/qwality"><img src="/static/img/github.png"></a>
                <a href="https://www.linkedin.com/in/daniel-sýkora-3132a4294"><img src="/static/img/linkedin.png"></a>
            </div>
        </body>
    </html>